.dashboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 16px;
}

.card {
  padding: 16px;
  background: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.card:hover {
  background: #e0e0e0;
  transform: scale(1.05);
}
